<launch>
  <!-- start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
	args="-u $(find unball)/simulator/ieee_very_small_field.world" />
	
  <!-- start gazebo client -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" />
  
  <!-- spawn robots -->
  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model"
  args="-file $(find unball)/simulator/unball_robot.sdf -sdf -z 1 -model unball_robot" />
</launch>
