<launch>
  <include file="$(find unball)/launch/simulator.launch" />
  <node name="simulator" pkg="unball" type="simulator_node" />
  <node name="strategy" pkg="unball" type="strategy_node" />
  <node name="keyboard" pkg="unball" type="keyboard_node" />
  <node name="communication" pkg="unball" type="communication_node" />
</launch>
